@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Syne+Tactile&display=swap');
html {
    font-family: 'Roboto Condensed', sans-serif;
  
    /* font-family: 'Syne Tactile', cursive; */
}
body {
    margin: 0;
    background-color: rgb(26, 26, 26);
}